<div class="preview-top">
    <div class='left'>
        <span id='association'>
            <%= client.association %>
        </span>
        <div>
            <span id='telephone'>
                <%= client.telephone %>
            </span>
        </div>
    </div>
    <div>
        <span id='name'>
            <%= client.name %>
        </span>
    </div>
</div>
<div class="preview-bottom">
    <span id='comment'>
        <%= client.comment %>
    </span>
</div>