<%- include('../../layouts/index') %>

    <div class="content watch" id="watch">
        <div class="container">
            <video src="<%= video.path %>" poster="<%= image.path%>" controls></video>
        </div>
        <div></div>
    </div>
    <%- include('../../footers/index') %>
        <script src="/public/js/watch.js"></script>