<div class="primary remnant-detail-popup">
    <div>
        <button id="close">x</button>
    </div>
    <div class="remnant-detail-container">
        <div class="remnant-detail-columns">
            <div>
                <span>item</span>
            </div>
            <div>
                <span>depth</span>
            </div>
            <div>
                <span>size</span>
            </div>
            <div>
                <span>quantity</span>
            </div>
            <div>
                <span>zone</span>
            </div>
            <div>
                <span>notes</span>
            </div>
        </div>
        <div class="rows">
            <div id="remnantDetails"></div>
            <div>
                <button id="add">add</button>
            </div>
        </div>
    </div>
    <div>
        <div>
            <button id="save">save</button>
        </div>
        <div>
            <button id="cancel">cancel</button>
        </div>
    </div>
</div>
<div class="secondary zones-popup" id="zonesPopup">
    <div>
        <a id="newZone">
            <i class="fa-regular fa-square-plus"></i>
        </a>
    </div>
    <div>
        <div>
            <form id="createZoneForm">
                <input type="text" placeholder="name" id="name" autocomplete="on">
                <input type="text" placeholder="comment" id="comment">
                <button id="createZone">create</button>
            </form>
        </div>
        <div>
            <form id="searchZonesForm">
                <input type="text" id="searchZones">
                <button>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <div>
            <button id='closeZonesPopup'>x</button>
        </div>
    </div>
    <div id="zones"></div>
</div>