.content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1rem;
  row-gap: 2rem;
  padding-top: 20vh;
  padding-left: calc($navWidth + $rootLeftMargin);
  padding-bottom: 1rem;
  border-radius: 1rem;
  background-color: white;

  .work-order-container,
  .remnant-container,
  .client-container {
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    height: 15vh;
  }

  .work-order-container:hover,
  .remnant-container:hover,
  .client-container:hover {
    border-color: $hoverColorBorder;
  }

  .work-order-container:hover,
  .client-container:hover {
    cursor: pointer;
  }
}
