.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 40px;
  padding-top: 150px;
  padding-left: 250px;
}

.padding-left {
  padding-left: 100px;
}

.position-left {
  left: 100px + $rootLeftMargin;
}
