@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import "./variable.scss";
@import "./normalize.scss";

@import "./layouts/index.scss";
@import "./layouts/auth.scss";

@import "./header/index.scss";
@import "./nav/index.scss";
@import "./footer/index.scss";

@import "./contents/watch.scss";
@import "./contents/video.scss";
@import "./contents/signin.scss";

body {
  font-family: "Open Sans", sans-serif;
}

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.index {
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.hide {
  display: none;
}
