@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import "./variable.scss";
@import "./normalize.scss";

@import "./layouts/index.scss";
@import "./layouts/auth.scss";

@import "./header/index.scss";
@import "./nav/index.scss";
@import "./footer/index.scss";

@import "./contents/watch.scss";
@import "./contents/video.scss";
@import "./contents/signin.scss";
@import "./contents/signup.scss";

body {
  font-family: "Open Sans", sans-serif;
}

.root {
  padding-left: 30px;
  padding-right: 40px;
}

.index {
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.hide {
  display: none;
}

@media screen and (max-width: $desktop) {
  .nav {
    padding-right: 15px;
  }

  .content {
    grid-template-columns: repeat(3, 1fr);
  }

  .watch {
    grid-template-columns: 2fr 1fr;
  }

  .signin,
  .signup {
    grid-template-columns: none;
  }
}

@media screen and (max-width: $tablet) {
  .nav {
    padding-right: 10px;
  }

  .content {
    grid-template-columns: repeat(2, 1fr);
  }

  .watch {
    grid-template-columns: 2fr 1fr;
  }

  .signin,
  .signup {
    grid-template-columns: none;
  }
}

@media screen and (max-width: $mobile) {
  .nav {
    padding-right: 5px;
  }

  .content {
    grid-template-columns: 1fr;
  }

  .watch {
    grid-template-columns: 2fr 1fr;
  }

  .signin,
  .signup {
    grid-template-columns: none;
  }
}
