@import "./normalize.scss";

@import "./header/index.scss";
@import "./nav/index.scss";
@import "./footer/index.scss";

@import "./contents/index.scss";
@import "./contents/watch.scss";

.root {
  padding-left: 10px;
  padding-right: 10px;
}

main {
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.hide {
  display: none;
}
