<header class="header">
    <div>
        <i class="fa-solid fa-bars" id="bars"></i>
    </div>
    <div>
        <div>
            <form>
                <input type="text">
                <button>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
    </div>
    <div>
        <a href="/signin">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
        </a>
    </div>
</header>