<header class="header">
    <div>
        <i class="fa-solid fa-bars" id="bars"></i>
    </div>
    <div>
        <i class="fa-solid fa-arrow-right-to-bracket" id="login"></i>
    </div>
</header>
<script src="/public/js/login.js"></script>