<% if (url==='/client' ) {%>
    <div class="nav-list nav-click">
        <a href="/client" class="flex">
            <i class="fa-solid fa-building margin-right"></i>
            <span>client</span>
        </a>
    </div>
    <%} else { %>
        <div class="nav-list">
            <a href="/client" class="flex">
                <i class="fa-solid fa-building margin-right"></i>
                <span>client</span>
            </a>
        </div>
        <% } %>