<% if (url==='/field' ) { %>
    <div class="nav-list nav-click">
        <a href="/field" class="flex">
            <i class="fa-solid fa-expand margin-right"></i>
            <span>field</span>
        </a>
    </div>
    <% } else { %>
        <div class="nav-list">
            <a href="/field" class="flex">
                <i class="fa-solid fa-expand margin-right"></i>
                <span>field</span>
            </a>
        </div>
        <% } %>