<% if (url==='/' ) { %>
    <div class="nav-list nav-click">
        <a href="/" class="flex">
            <i class="fa-solid fa-house margin-right"></i>
            <span>home</span>
        </a>
    </div>
    <% } else { %>
        <div class="nav-list">
            <a href="/" class="flex">
                <i class="fa-solid fa-house margin-right"></i>
                <span>home</span>
            </a>
        </div>
        <% } %>