<% if (url==='/remnant' ) {%>
    <div class="nav-list nav-click">
        <a href="/remnant" class="flex">
            <i class="fa-solid fa-note-sticky margin-right"></i>
            <span>remnant</span>
        </a>
    </div>
    <%} else { %>
        <div class="nav-list">
            <a href="/remnant" class="flex">
                <i class="fa-solid fa-note-sticky margin-right"></i>
                <span>remnant</span>
            </a>
        </div>
        <% } %>