<% if (url==='/work-order' ) {%>
    <div class="nav-list nav-click">
        <a href="/work-order" class="flex">
            <i class="fa-solid fa-pen margin-right"></i>
            <span>order</span>
        </a>
    </div>
    <%} else { %>
        <div class="nav-list">
            <a href="/work-order" class="flex">
                <i class="fa-solid fa-pen margin-right"></i>
                <span>order</span>
            </a>
        </div>
        <% } %>