<div class="primary remnant-detail-popup hidden" id="remnantDetailPopup">
    <div class="popup-header">
        <div class="left">
            <p>register remnant</p>
        </div>
        <div class="right">
            <button id="close">x</button>
        </div>
    </div>
    <div class="popup-body">
        <div class="container-whole">
            <div class="title">
                <span>remnant-detail</span>
            </div>
            <div class="columns">
                <div class="column">
                    <span>item</span>
                </div>
                <div class="column">
                    <span>depth</span>
                </div>
                <div class="column">
                    <span>width</span>
                </div>
                <div class="column">
                    <span>length</span>
                </div>
                <div class="column">
                    <span>quantity</span>
                </div>
                <div class="column">
                    <span>zone</span>
                </div>
                <div class="column">
                    <span>button</span>
                </div>
            </div>
            <div class="rows">
                <div id="remnantDetails"></div>
                <div class="add-row">
                    <button id="add">add</button>
                </div>
            </div>
        </div>
        <div class="save">
            <div class="center">
                <button id="save">save</button>
            </div>
        </div>
    </div>
</div>
<div class="secondary zones-popup hidden" id="zonesPopup">
    <div class="popup-header">
        <div class="left">
            <p>explore zone</p>
        </div>
        <div class="right">
            <button id='closeZonesPopup'>x</button>
        </div>
    </div>
    <div class="popup-body">
        <div class="search-create">
            <div class="left">
                <div id="searchZonePopup" class="search">
                    <div class="title">
                        <p>search zone</p>
                    </div>
                    <form id="searchZonesForm" class="search-form">
                        <input type="text" id="searchZones">
                        <button>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
                <div id="createZonePopup" class="create hidden">
                    <div class="title">
                        <p>create zone</p>
                    </div>
                    <form id="createZoneForm" class="zone-create-form">
                        <div class="input-container">
                            <div class="title">
                                <span>name</span>
                            </div>
                            <div class="name">
                                <input type="text" id="name" autocomplete="on">
                            </div>
                        </div>
                        <div class="input-container">
                            <div class="title">
                                <span>comment</span>
                            </div>
                            <div class="comment">
                                <input type="text" id="comment">
                            </div>
                        </div>
                        <div class="button">
                            <button id="createZone">create</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="right">
                <div class="title">
                    <span>new</span>
                </div>
                <div class="button">
                    <button id="newZone">
                        <i class="fa-regular fa-square-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <div>
            <div id="zones" class="zone-containers"></div>
        </div>
    </div>
</div>
<div class="secondary items-popup hidden" id="itemsPopup">
    <div class="popup-header">
        <div class="left">
            <p>explore item</p>
        </div>
        <div class="right">
            <button id='closeItemsPopup'>x</button>
        </div>
    </div>
    <div class="popup-body">
        <div class="search-create">
            <div class="left">
                <div id="searchItemPopup" class="search">
                    <div class="title">
                        <p>search item</p>
                    </div>
                    <form id="searchItemForm" class="search-form">
                        <input type="text" id="searchItem" autocomplete="off">
                        <button>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
                <div id="createItemPopup" class="create hidden">
                    <div class="title">
                        <p>create item</p>
                    </div>
                    <form id="createItemForm" class="item-create-form">
                        <div class="input-container">
                            <div class="title">
                                <span>name</span>
                            </div>
                            <div>
                                <input type="text" placeholder="name" id="name" autocomplete="on">
                            </div>
                        </div>
                        <div class="button">
                            <button id="createItem">create</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="right">
                <div class="title">
                    <span>new</span>
                </div>
                <div class="button">
                    <button id="newItem">
                        <i class="fa-regular fa-square-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <div id="items" class="item-containers"></div>
    </div>
</div>