<div class="status-text click" id="allChip">
    <span>all</span>
</div>
<div class="status-text" id="resolvingChip">
    <span>resolving</span>
</div>
<div class="status-text" id="completeChip">
    <span>complete</span>
</div>
<div class="status-text" id="urgentChip">
    <span>urgent</span>
</div>
<div class="status-text" id="dateChip">
    <input type="date" max="9999-12-31" id="date">
</div>