.watch {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-left: 0 !important;
  padding-top: calc($positionTopDesktop * 2) !important;

  &-container {
    video {
      width: 100%;
    }
  }
}
