.columns {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.rows {
  display: flex;
  flex-direction: column;

  .work-detail-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    input {
      width: 100%;
    }
    button {
      width: 100%;
    }
  }
}
