<nav class="nav" id="nav">
    <ul>
        <li>
            <a href="/" class="flex">
                <i class="fa-solid fa-house margin-right"></i>
                <span>home</span>
            </a>
        </li>
    </ul>
</nav>