.embedded {
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  background-color: white;

  .embedded-list {
    display: flex;

    a {
      display: flex;
      align-items: center;
      padding: 1rem;

      span {
        padding-left: 1rem;
      }
    }
  }

  .embedded-list:last-child {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
}
