.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 10px 40px 10px 30px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 7vh;
  background-color: white;
  box-sizing: border-box;

  input {
    line-height: 1.2rem;
  }

  .start,
  .end {
    i {
      font-size: 1.1rem;
    }
  }

  .center {
    form {
      display: grid;
      grid-template-columns: 9fr 1fr;
    }
  }

  .end {
    justify-self: self-end;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }
}
