.nav {
  position: fixed;
  top: 5vh;
  left: 0;
  height: 100%;
  width: $navWidth;
  z-index: 1;
  background-color: $rootColorBg;
  padding-right: $rootRightMargin;
  // background-color: white;

  &-list {
    display: flex;
    width: 100%;
    margin-left: calc($rootLeftMargin / 2);
    border-radius: 0.5rem;

    a {
      // display: inline-block;
      width: 100%;
      padding: 1rem calc($rootLeftMargin / 2) 1rem 0;
      padding-left: calc($rootLeftMargin / 2);

      i {
        margin-right: 24px;
      }

      span {
        text-transform: capitalize;
      }
    }
  }
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  i {
    margin-right: 0 !important;
  }
}

.column-nav-width {
  width: $navWidthColumn !important;
}

.flex {
  display: flex;
  align-items: center;
}

.margin-bottom {
  margin-bottom: 5px;
}

.margin-right {
  margin-right: 10px;
}
