.popup-container {
  position: fixed;
  left: $leftPrimaryPopup;
  top: $topPrimaryPopup;
  width: $widthPrimaryPopup;
  height: $heightPrimaryPopup;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
  z-index: 1;

  .secondary {
    position: fixed;
    left: $leftSecondaryPopup;
    top: $topSecondaryPopup;
    width: $widthSecondaryPopup;
    height: $heightSecondaryPopup;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}
