.work-order-container {
  .preview-bottom {
    display: flex;
  }
}

.remnant-container {
  .preview-bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.client-container {
  display: grid;
}

.preview {
  height: 10vh;
  margin-bottom: 1rem;

  &-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
}

.metadata {
  align-self: self-end;

  .client {
    display: flex;

    .left {
      margin-right: 10px;
    }
  }

  .datetime {
    display: flex;
  }
}
