.preview {
  height: 10vh;
  margin-bottom: 1rem;

  &-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &-bottom {
    display: flex;
  }
}

.metadata {
  .client {
    display: flex;

    .left {
      margin-right: 10px;
    }
  }

  .datetime {
    display: flex;
  }
}
