.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  video,
  img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 1440px) {
  .main {
    video,
    img {
      width: 350px;
      height: 350px;
    }
  }
}
