<div class="embedded hidden" id="embedded">
    <div class="primary">
        <div class="embedded-list">
            <a class="endpoint__update" id="update" data-id="<%= workOrder.id %>"
                data-client_id="<%= workOrder.client_id %>">
                <i class="fa-solid fa-scissors"></i>
                <span>update</span>
            </a>
        </div>
        <div class="embedded-list">
            <a class="endpoint__delete" id="delete" data-id="<%= workOrder.id %>">
                <i class="fa-regular fa-trash-can"></i>
                <span>delete</span>
            </a>
        </div>
    </div>
</div>