<header class="header">
    <div>
        <i class="fa-solid fa-bars" id="bars"></i>
    </div>
    <div>
        <div>
            <form id="searchForm">
                <input type="text" id="search">
                <button>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
    </div>
    <div class="end">
        <% if (auth) { %>
            <div class="end-create">
                <a class="end-create__endpoint" id="createWorkOrder">
                    <i class="fa-regular fa-square-plus"></i>
                </a>
            </div>
            <div class="end-signout">
                <a class="end-signout__endpoint" id="signout">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                </a>
            </div>
            <% } %>
                <!-- <div class="end-signin">
                    <a class="end-signin__endpoint" id="signin">
                        <i class="fa-solid fa-arrow-right-to-bracket"></i>
                    </a>
                </div> -->

                <!-- <div class="end-create">
                    <a class="end-create__endpoint" id="createWorkOrder">
                        <i class="fa-regular fa-square-plus"></i>
                    </a>
                </div>
                <div class="end-signout">
                    <a class="end-signout__endpoint" id="signout">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    </a>
                </div> -->
    </div>
    <!-- <div id="auth">
    </div> -->
</header>
<script src="/public/js/signout.js"></script>