<header class="header">
    <div class="start">
        <i class="fa-solid fa-bars" id="bars"></i>
    </div>
    <div class="center">
        <div>
            <form id="searchForm">
                <input type="text" id="search">
                <button>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
    </div>
    <div class="end">
        <% if (user) { %>
            <% if (url==='/work-order' ) { %>
                <div class="end-create">
                    <a class="end-create__endpoint" id="createWorkOrder">
                        <i class="fa-regular fa-square-plus"></i>
                    </a>
                </div>
                <% } else if (url==='/remnant' ) { %>
                    <div class="end-create">
                        <a class="end-create__endpoint" id="createRemnant">
                            <i class="fa-regular fa-square-plus"></i>
                        </a>
                    </div>
                    <% } else if (url==='/client' ) { %>
                        <div class="end-create">
                            <a class="end-create__endpoint" id="createClient">
                                <i class="fa-regular fa-square-plus"></i>
                            </a>
                        </div>
                        <% } else { %>
                            <div></div>
                            <% } %>
                                <div class="end-signout">
                                    <a class="end-signout__endpoint" id="signout">
                                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                    </a>
                                </div>
                                <% } %>
    </div>
</header>
<script src="/public/js/signout.js"></script>