<nav class="nav" id="nav">
    <div class="nav-list">
        <a href="/" class="flex">
            <i class="fa-solid fa-house margin-right"></i>
            <span>home</span>
        </a>
    </div>
    <div class="nav-list">
        <a href="" class="flex">
            <i class="fa-solid fa-pen margin-right"></i>
            <span>order</span>
        </a>
    </div>
    <div class="nav-list">
        <a href="" class="flex">
            <i class="fa-solid fa-note-sticky margin-right"></i>
            <span>remnant</span>
        </a>
    </div>
    <div class="nav-list">
        <a href="" class="flex">
            <i class="fa-solid fa-building margin-right"></i>
            <span>client</span>
        </a>
    </div>
    <div class="nav-list">
        <a href="" class="flex">
            <i class="fa-solid fa-expand margin-right"></i>
            <span>field</span>
        </a>
    </div>
</nav>