<div class="popup-container hidden" id="popup">
    <% if (url==='/work-order' ) { %>
        <div class="primary work-order-popup hidden" id="workOrderPopup">
            <div>
                <label for="urgent">urgent</label>
                <input type="checkbox" id="urgent">
            </div>
            <div>
                <button id="close">x</button>
            </div>
            <div>
                <input type="text" id="selectedClient" readonly>
                <button id="searchClients">search clients</button>
            </div>
            <div>
                <textarea id="comment" cols="30" rows="10"></textarea>
            </div>
            <div class="work-detail-container">
                <div class="work-detail-columns">
                    <div>
                        <span>item</span>
                    </div>
                    <div>
                        <span>depth</span>
                    </div>
                    <div>
                        <span>width</span>
                    </div>
                    <div>
                        <span>length</span>
                    </div>
                    <div>
                        <span>quantity</span>
                    </div>
                    <div>
                        <span>remnant</span>
                    </div>
                    <div>
                        <span>button</span>
                    </div>
                </div>
                <div class="rows">
                    <div id="workDetails"></div>
                    <div>
                        <button id="add">add</button>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <button id="place">place</button>
                </div>
                <div>
                    <button id="cancel">cancel</button>
                </div>
            </div>
        </div>
        <div class="primary work-detail-popup hidden" id="workDetailPopup">
            <div>
                <div>
                    <span>title</span>
                </div>
                <div>
                    <button id="close">x</button>
                </div>
            </div>
            <div>
                <div id="client"></div>
            </div>
            <div>
                <div id="workDetails"></div>
                <div id="comment"></div>
            </div>
        </div>
        <div class="secondary clients-popup hidden" id="clientsPopup">
            <div>
                <div>
                    <a id="newClient">
                        <i class="fa-regular fa-square-plus"></i>
                    </a>
                </div>
                <div>
                    <div class="hidden" id="createClientPopup">
                        <form id="createClientForm">
                            <input type="text" placeholder="association" id="association" autocomplete="on">
                            <input type="text" placeholder="name" id="name" autocomplete="on">
                            <input type="text" placeholder="telephone" id="telephone" autocomplete="on">
                            <button id="createClient">create</button>
                        </form>
                    </div>
                    <form id="searchClientForm">
                        <input type="text" id="searchClient">
                        <button>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
                <div>
                    <button id='closeClientsPopup'>x</button>
                </div>
            </div>
            <div id="clients"></div>
        </div>
        <% } else if (url==='/remnant' ) { %>
            <div class="primary remnant-detail-popup">
                <div>
                    <button id="close">x</button>
                </div>
                <div class="remnant-detail-container">
                    <div class="remnant-detail-columns">
                        <div>
                            <span>item</span>
                        </div>
                        <div>
                            <span>depth</span>
                        </div>
                        <div>
                            <span>size</span>
                        </div>
                        <div>
                            <span>quantity</span>
                        </div>
                        <div>
                            <span>zone</span>
                        </div>
                        <div>
                            <span>button</span>
                        </div>
                    </div>
                    <div class="rows">
                        <div id="remnantDetails"></div>
                        <div>
                            <button id="add">add</button>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <button id="save">save</button>
                    </div>
                    <div>
                        <button id="cancel">cancel</button>
                    </div>
                </div>
            </div>
            <div class="secondary zones-popup hidden" id="zonesPopup">
                <div>
                    <a id="newZone">
                        <i class="fa-regular fa-square-plus"></i>
                    </a>
                </div>
                <div>
                    <div class="hidden" id="createZonePopup">
                        <form id="createZoneForm">
                            <input type="text" placeholder="name" id="name" autocomplete="on">
                            <input type="text" placeholder="comment" id="comment">
                            <button id="createZone">create</button>
                        </form>
                    </div>
                    <div id="searchZonePopup">
                        <form id="searchZonesForm">
                            <input type="text" id="searchZones">
                            <button>
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </form>
                    </div>
                    <div>
                        <button id='closeZonesPopup'>x</button>
                    </div>
                </div>
                <div id="zones"></div>
            </div>
            <% } %>
                <div class="secondary items-popup hidden" id="itemsPopup">
                    <div>
                        <a id="newItem">
                            <i class="fa-regular fa-square-plus"></i>
                        </a>
                    </div>
                    <div>
                        <div class="hidden" id="createItemPopup">
                            <form id="createItemForm">
                                <input type="text" placeholder="name" id="name" autocomplete="on">
                                <button id="createItem">create</button>
                            </form>
                        </div>
                        <div>
                            <form id="searchItemForm">
                                <input type="text" id="searchItem">
                                <button>
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </form>
                        </div>
                        <div>
                            <button id='closeItemsPopup'>x</button>
                        </div>
                    </div>
                    <div id="items"></div>
                </div>
</div>
<script src="/public/js/popup.js"></script>