<div class="popup-container hidden" id="popup">
    <% if (url==='/work-order' ) { %>
        <div class="primary work-order-popup hidden" id="workOrderPopup">
            <div class="popup-header">
                <div class="left">
                    <p>place work-order</p>
                </div>
                <div class="right">
                    <button id="close">x</button>
                </div>
            </div>
            <div class="popup-body">
                <div class="container-top">
                    <div class="input-container">
                        <div class="title">
                            <span>client</span>
                        </div>
                        <div class="search">
                            <input type="text" id="clientInput" placeholder="search client" readonly>
                        </div>
                    </div>
                    <div class="input-container">
                        <div class="title">
                            <span>comment</span>
                        </div>
                        <div class="comment">
                            <input type="text" id="comment" placeholder="Add a comment..." autocomplete="off">
                        </div>
                    </div>
                    <div class="input-container">
                        <div class="title">
                            <span>urgent</span>
                        </div>
                        <div class="urgent">
                            <input type="checkbox" id="urgent">
                        </div>
                    </div>
                </div>
                <div class="container-middle">
                    <div class="title">
                        <span>work-detail</span>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <span>item</span>
                        </div>
                        <div class="column">
                            <span>depth</span>
                        </div>
                        <div class="column">
                            <span>width</span>
                        </div>
                        <div class="column">
                            <span>length</span>
                        </div>
                        <div class="column">
                            <span>quantity</span>
                        </div>
                        <div class="column">
                            <span>remnant</span>
                        </div>
                        <div class="column">
                            <span>button</span>
                        </div>
                    </div>
                    <div class="rows">
                        <div id="workDetails"></div>
                        <div class="add-row">
                            <button id="add">add</button>
                        </div>
                    </div>
                </div>
                <div class="container-bottom">
                    <div class="center">
                        <button id="place">place</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="primary work-detail-popup hidden" id="workDetailPopup">
            <div class="popup-header">
                <div class="left">
                    <p>work info</p>
                </div>
                <div class="right">
                    <button id="close">x</button>
                </div>
            </div>
            <div class="popup-body">
                <div class="info-container">
                    <div class="top">
                        <div id="completeInfo" class="complete-info"></div>
                        <div id="client" class="client-info"></div>
                        <div id="urgentInfo" class="urgent-info"></div>
                    </div>
                    <div id="workInfos" class="work-infos"></div>
                    <div id="commentInfo" class="comment-info"></div>
                </div>
            </div>
        </div>
        <div class="secondary clients-popup hidden" id="clientsPopup">
            <div class="popup-header">
                <div class="left">
                    <p>explore client</p>
                </div>
                <div class="right">
                    <button id='closeClientsPopup'>x</button>
                </div>
            </div>
            <div class="popup-body">
                <div class="search-create">
                    <div class="left">
                        <div id="searchClientPopup" class="search">
                            <div class="title">
                                <p>search client</p>
                            </div>
                            <form id="searchClientForm" class="search-form">
                                <input type="text" id="searchClient" autocomplete="off">
                                <button>
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </form>
                        </div>
                        <div id="createClientPopup" class="create hidden">
                            <div class="title">
                                <p>create client</p>
                            </div>
                            <form id="createClientForm" class="client-create-form">
                                <div class="input-container">
                                    <div class="title">
                                        <span>association</span>
                                    </div>
                                    <div class="association">
                                        <input type="text" id="association" autocomplete="on">
                                    </div>
                                </div>
                                <div class="input-container">
                                    <div class="title">
                                        <span>name</span>
                                    </div>
                                    <div class="name">
                                        <input type="text" id="name" autocomplete="on">
                                    </div>
                                </div>
                                <div class="input-container">
                                    <div class="title">
                                        <span>telephone</span>
                                    </div>
                                    <div class="telephone">
                                        <input type="text" id="telephone" autocomplete="on">
                                    </div>
                                </div>
                                <div class="button">
                                    <button id="createClient">create</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="right">
                        <div class="title">
                            <span>new</span>
                        </div>
                        <div class="button">
                            <button id="newClient">
                                <i class="fa-regular fa-square-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div id="clients" class="client-containers"></div>
            </div>
        </div>
        <div class="secondary items-popup hidden" id="itemsPopup">
            <div class="popup-header">
                <div class="left">
                    <p>explore item</p>
                </div>
                <div class="right">
                    <button id='closeItemsPopup'>x</button>
                </div>
            </div>
            <div class="popup-body">
                <div class="search-create">
                    <div class="left">
                        <div id="searchItemPopup" class="search">
                            <div class="title">
                                <p>search item</p>
                            </div>
                            <form id="searchItemForm" class="search-form">
                                <input type="text" id="searchItem" autocomplete="off">
                                <button>
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </form>
                        </div>
                        <div id="createItemPopup" class="create hidden">
                            <div class="title">
                                <p>create item</p>
                            </div>
                            <form id="createItemForm" class="item-create-form">
                                <div class="input-container">
                                    <div class="title">
                                        <span>name</span>
                                    </div>
                                    <div>
                                        <input type="text" placeholder="name" id="name" autocomplete="on">
                                    </div>
                                </div>
                                <div class="button">
                                    <button id="createItem">create</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="right">
                        <div class="title">
                            <span>new</span>
                        </div>
                        <div class="button">
                            <button id="newItem">
                                <i class="fa-regular fa-square-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div id="items" class="item-containers"></div>
            </div>
        </div>
        <% } else if (url==='/remnant' ) { %>
            <div class="primary remnant-detail-popup hidden" id="remnantDetailPopup">
                <div class="popup-header">
                    <div class="left">
                        <p>register remnant</p>
                    </div>
                    <div class="right">
                        <button id="close">x</button>
                    </div>
                </div>
                <div class="popup-body">
                    <div class="container-whole">
                        <div class="title">
                            <span>remnant-detail</span>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <span>item</span>
                            </div>
                            <div class="column">
                                <span>depth</span>
                            </div>
                            <div class="column">
                                <span>width</span>
                            </div>
                            <div class="column">
                                <span>length</span>
                            </div>
                            <div class="column">
                                <span>quantity</span>
                            </div>
                            <div class="column">
                                <span>zone</span>
                            </div>
                            <div class="column">
                                <span>button</span>
                            </div>
                        </div>
                        <div class="rows">
                            <div id="remnantDetails"></div>
                            <div class="add-row">
                                <button id="add">add</button>
                            </div>
                        </div>
                    </div>
                    <div class="save">
                        <div class="center">
                            <button id="save">save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="secondary zones-popup hidden" id="zonesPopup">
                <div class="popup-header">
                    <div class="left">
                        <p>explore zone</p>
                    </div>
                    <div class="right">
                        <button id='closeZonesPopup'>x</button>
                    </div>
                </div>
                <div class="popup-body">
                    <div class="search-create">
                        <div class="left">
                            <div id="searchZonePopup" class="search">
                                <div class="title">
                                    <p>search zone</p>
                                </div>
                                <form id="searchZonesForm" class="search-form">
                                    <input type="text" id="searchZones">
                                    <button>
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </button>
                                </form>
                            </div>
                            <div id="createZonePopup" class="create hidden">
                                <div class="title">
                                    <p>create zone</p>
                                </div>
                                <form id="createZoneForm" class="zone-create-form">
                                    <div class="input-container">
                                        <div class="title">
                                            <span>name</span>
                                        </div>
                                        <div class="name">
                                            <input type="text" id="name" autocomplete="on">
                                        </div>
                                    </div>
                                    <div class="input-container">
                                        <div class="title">
                                            <span>comment</span>
                                        </div>
                                        <div class="comment">
                                            <input type="text" id="comment">
                                        </div>
                                    </div>
                                    <div class="button">
                                        <button id="createZone">create</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="right">
                            <div class="title">
                                <span>new</span>
                            </div>
                            <div class="button">
                                <button id="newZone">
                                    <i class="fa-regular fa-square-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div id="zones" class="zone-containers"></div>
                    </div>
                </div>
            </div>
            <div class="secondary items-popup hidden" id="itemsPopup">
                <div class="popup-header">
                    <div class="left">
                        <p>explore item</p>
                    </div>
                    <div class="right">
                        <button id='closeItemsPopup'>x</button>
                    </div>
                </div>
                <div class="popup-body">
                    <div class="search-create">
                        <div class="left">
                            <div id="searchItemPopup" class="search">
                                <div class="title">
                                    <p>search item</p>
                                </div>
                                <form id="searchItemForm" class="search-form">
                                    <input type="text" id="searchItem" autocomplete="off">
                                    <button>
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </button>
                                </form>
                            </div>
                            <div id="createItemPopup" class="create hidden">
                                <div class="title">
                                    <p>create item</p>
                                </div>
                                <form id="createItemForm" class="item-create-form">
                                    <div class="input-container">
                                        <div class="title">
                                            <span>name</span>
                                        </div>
                                        <div>
                                            <input type="text" placeholder="name" id="name" autocomplete="on">
                                        </div>
                                    </div>
                                    <div class="button">
                                        <button id="createItem">create</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="right">
                            <div class="title">
                                <span>new</span>
                            </div>
                            <div class="button">
                                <button id="newItem">
                                    <i class="fa-regular fa-square-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="items" class="item-containers"></div>
                </div>
            </div>
            <% } else if (url==='/client' ) { %>
                <div class="primary client-popup hidden" id="clientPopup">
                    <div class="popup-header">
                        <div class="left">
                            <p>register client</p>
                        </div>
                        <div class="right">
                            <button id='close'>x</button>
                        </div>
                    </div>
                    <div class="popup-body" id="popupBody">
                        <div class="search-create">
                            <div class="left">
                                <div id="createClientPopup" class="create">
                                    <div class="title">
                                        <p>create client</p>
                                    </div>
                                    <form id="createClientForm" class="client-create-form">
                                        <div class="input-container">
                                            <div class="title">
                                                <span>association</span>
                                            </div>
                                            <div class="association">
                                                <input type="text" id="association" autocomplete="on">
                                            </div>
                                        </div>
                                        <div class="input-container">
                                            <div class="title">
                                                <span>name</span>
                                            </div>
                                            <div class="name">
                                                <input type="text" id="name" autocomplete="on">
                                            </div>
                                        </div>
                                        <div class="input-container">
                                            <div class="title">
                                                <span>telephone</span>
                                            </div>
                                            <div class="telephone">
                                                <input type="text" id="telephone" autocomplete="on">
                                            </div>
                                        </div>
                                        <div class="button">
                                            <button id="createClient">create</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="right">
                                <div class="title"></div>
                                <div class="button"></div>
                            </div>
                        </div>
                        <div class="client-containers" id="clients"></div>
                    </div>
                </div>
                <div class="primary work-info-popup hidden" id="workInfoPopup">
                    <div class="popup-header">
                        <div class="left">
                            <p>work-order list</p>
                        </div>
                        <div class="right">
                            <button id="close">x</button>
                        </div>
                    </div>
                    <div class="popup-body">
                        <div class="info-containers" id="infoContainers"></div>
                    </div>
                </div>
                <div class="secondary work-detail-popup hidden" id="workDetailPopup">
                    <div class="popup-header">
                        <div class="left">
                            <p>work-detail list</p>
                        </div>
                        <div class="right">
                            <button id="closeWorkDetailPopup">x</button>
                        </div>
                    </div>
                    <div class="popup-body">
                        <div class="info-container">
                            <div id="workInfos" class="work-infos"></div>
                        </div>
                    </div>
                </div>
                <% } %>

</div>
<script src="/public/js/popup.js"></script>