<div class="popup-container hidden" id="popup">
    <% if (url==='/work-order' ) { %>
        <%- include('popups/work-order') %>

            <% } else if (url==='/remnant' ) { %>
                <%- include('popups/remnant') %>

                    <% } else if (url==='/client' ) { %>
                        <%- include('popups/client') %>

                            <% } %>
                                <!-- TODO: alarm popup -->
                                <div class="confirm"></div>

</div>
<script src="/public/js/popup.js"></script>