<div class="preview">
    <% if (url==='/work-order' ) { %>
        <%- include('previews/work-order', {workOrder}); %>

            <% } if (url==='/remnant' ) { %>
                <%- include('previews/remnant', {remnantDetail}); %>

                    <% } else if (url==='/client' ) { %>
                        <%- include('previews/client', {client}); %>

                            <% } %>
</div>