<div class="status" id="status">
    <% if (url==='/' || url==='/work-order' ) { %>
        <div class="status-text" id="allChip">
            <span>all</span>
        </div>
        <div class="status-text" id="resolvingChip">
            <span>resolving</span>
        </div>
        <div class="status-text" id="completeChip">
            <span>complete</span>
        </div>
        <div class="status-text" id="urgentChip">
            <span>urgent</span>
        </div>
        <div class="status-text">
            <input type="date" max="9999-12-31" id="dateChip">
        </div>
        <% } else if (url==='/remnant' ) { %>
            <div class="status-text" id="itemChip">
                <select id="itemSelect">
                    <option value="">items</option>
                    <% for (const item of items) { %>
                        <option value="<%= item.id %>">
                            <%= item.name %>
                        </option>
                        <% } %>
                </select>
            </div>
            <div class="status-text" id="zoneChip">
                <select id="zoneSelect">
                    <option value="">zones</option>
                    <% for (const remnantZone of remnantZones) { %>
                        <option value="<%= remnantZone.id %>">
                            <%= remnantZone.name %>
                        </option>
                        <% } %>
                </select>
            </div>
            <% } %>
</div>
<script src="/public/js/status.js"></script>