<div class="status" id="status">
    <% if (url==='/work-order' ) { %>
        <%- include('statuses/work-order') %>

            <% } else if (url==='/remnant' ) { %>
                <%- include('statuses/remnant') %>

                    <% } else if (url==='/client' ) { %>
                        <%- include('statuses/client') %>

                            <% } %>
</div>
<script src="/public/js/status.js"></script>