<%- include('../../layouts/auth') %>

    <div class="content signup">
        <div>
            <form>
                <div>
                    <span>username</span>
                    <input type="text">
                </div>
                <div>
                    <span>password</span>
                    <input type="password">
                </div>
                <div>
                    <span>confirm</span>
                    <input type="password">
                </div>
            </form>
        </div>
        <div>
            <div>
                <a href="/signin">signin &rarr;</a>
            </div>
            <div>
                <button>signup</button>
            </div>
        </div>
    </div>