<%- include('../../layouts/index') %>

    <%- include('../../navs/index') %>
        <div class="content watch">
            <div class="container">
                <video src="<%= video.path %>" controls></video>
            </div>
            <div></div>
        </div>

        <%- include('../../footers/index') %>
            <script src="/public/js/bars.js"></script>
            <script src="/public/js/watch.js"></script>