<%- include('../layouts/base') %>

    <div class="content client" id="content">
    </div>
    <%- include('../partials/status') %>
        <%- include('../partials/popup') %>
            <%- include('../partials/footer') %>