<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
</head>

<body>
    <div class="root">
        <h1>
            <%= message %>
        </h1>
        <a href="../">&rarr; Back</a>
        <a href="/signin">&rarr; Signin</a>
    </div>
</body>

</html>