<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
</head>

<body>
    <div class="root">
        <h1>
            <%= error.message %>
        </h1>
        <% if (error.statusCode===401 ) { %>
            <a href="/signin">&rarr; Signin</a>
            <% } else { %>
                <a href="../">&rarr; Back</a>
                <% } %>
    </div>
</body>

</html>