<%- include('../layouts/base') %>

    <div class="content image" id="content">
        <% for (const image of images) {%>
            <a href="/watch/<%= image.id %>">
                <img src="<%= image.path %>" alt="">
            </a>
            <%}%>
    </div>
    <%- include('../partials/footer') %>