<%- include('../layouts/base') %>

    <div class="content video">
        <% for (const video of videos) {%>
            <video src="<%= video.path %>" poster="<%= video.poster%>" controls></video>
            <%}%>
                <div></div>
    </div>
    <script src="/public/js/bars.js"></script>
    <%- include('../partials/footer') %>