<%- include('../layouts/base') %>

    <div class="status" id="workOrderStatus">
        <div class="status-text">
            <span>all</span>
        </div>
        <div class="status-text">
            <span>order</span>
        </div>
        <div class="status-text">
            <span>resolving</span>
        </div>
        <div class="status-text">
            <span>complete</span>
        </div>
    </div>

    <div class="popup-container" id="popup">
        <div class="work-order-popup">
            <div>
                <label for="urgent">urgent</label>
                <input type="checkbox" id="urgent">
            </div>
            <div>
                <button id="close">x</button>
            </div>
            <div>
                <input type="text" id="selectedClient" readonly>
                <button id="searchClients">search clients</button>
            </div>
            <div>
                <textarea name="comment" cols="30" rows="10"></textarea>
            </div>
            <div class="work-detail-container">
                <div class="columns">
                    <div>
                        <span>item</span>
                    </div>
                    <div>
                        <span>depth</span>
                    </div>
                    <div>
                        <span>width</span>
                    </div>
                    <div>
                        <span>length</span>
                    </div>
                    <div>
                        <span>quantity</span>
                    </div>
                    <div>
                        <span>remnant</span>
                    </div>
                    <div>
                        <span>notes</span>
                    </div>
                </div>
                <div class="rows">
                    <div id="workDetails"></div>
                    <div>
                        <button id="add">add</button>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <button>register</button>
                </div>
                <div>
                    <button>cancel</button>
                </div>
            </div>
        </div>
        <div class="clients-popup hidden" id="secondary">
            <div>
                <div>
                    <form id="searchClientForm">
                        <input type="text" id="searchClient">
                        <button>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
                <div>
                    <button id='close'>x</button>
                </div>
            </div>
            <div id="clients"></div>
        </div>
    </div>

    <div class="content work-order" id="content">
        <% for (const workOrder of workOrders) {%>
            <div class="work-order-container" id="workorderContainer" data-client_id="<%= workOrder.client_id %>">
                <div style="display: flex; justify-content: space-between;">
                    <div>
                        <span>
                            <% if (!workOrder.is_complete){%>
                                진행중
                                <%} else {%>
                                    완료
                                    <%}%>
                        </span>
                    </div>
                    <div>
                        <span>
                            <% if (!workOrder.is_urgent){%>
                                일반
                                <%} else {%>
                                    긴급
                                    <%}%>
                        </span>
                    </div>
                </div>
                <div id="client"></div>
                <div></div>
                <div>
                    <span>
                        생성일자 <%= workOrder.created_at %>
                    </span>
                </div>
            </div>
            <%}%>
    </div>
    <script src="/public/js/popup.js"></script>
    <script src="/public/js/workOrder.js"></script>
    <script src="/public/js/workDetail.js"></script>
    <%- include('../partials/footer') %>