@media screen and (max-width: $desktop) {
  .header {
    height: 7vh;
  }

  .nav {
    padding-right: 15px;
    top: 7vh;
  }

  .content {
    grid-template-columns: repeat(4, 1fr);
  }

  .watch {
    grid-template-columns: 2fr 1fr;
  }

  .signin,
  .signup {
    grid-template-columns: none;
  }
}

@media screen and (max-width: $laptop) {
  .header {
    height: 7vh;
  }

  .nav {
    padding-right: 15px;
    top: 7vh;
  }

  .content {
    grid-template-columns: repeat(3, 1fr);
  }

  .watch {
    grid-template-columns: 2fr 1fr;
  }

  .signin,
  .signup {
    grid-template-columns: none;
  }
}

@media screen and (max-width: $tablet) {
  .header {
    height: 5vh;
  }

  .nav {
    padding-right: 10px;
    top: 5vh;
  }

  .content {
    grid-template-columns: repeat(2, 1fr);
  }

  .watch {
    grid-template-columns: 2fr 1fr;
  }

  .signin,
  .signup {
    grid-template-columns: none;
    left: initial;
  }
}

@media screen and (max-width: $mobile) {
  .header {
    height: 7vh;
  }

  .nav {
    padding-right: 5px;
    top: 7vh;
  }

  .content {
    grid-template-columns: 1fr;
  }

  .watch {
    grid-template-columns: 2fr 1fr;
  }

  .signin,
  .signup {
    grid-template-columns: none;
    left: initial;
  }
}
