$mobile: 400px;
$tablet: 850px;
$laptop: 1200px;
$desktop: 1500px;

$rootLeftMargin: 30px;

$leftSign: 40%;
$topSign: 30%;
$heightSign: 40%;

$primaryPopupLeft: 25%;
$primaryPopupWidth: 50%;
$primaryPopupTop: 5%;
$primaryPopupHeight: 90%;

$primaryPopupTopDesktop: 7%;
$primaryPopupHeightDesktop: 86%;

$secondaryPopupLeft: 30%;
$secondaryPopupWidth: 40%;
$secondaryPopupTop: 10%;
$secondaryPopupHeight: 80%;

$bgColor: #e5e5e5;
$fontColor: #3f3f3f;

$clickColorBg: black;
$clickColorFont: white;

$hoverColorBorder: red;
$clickColorBorder: red;
