$mobile: 400px;
$tablet: 850px;
$laptop: 1200px;
$desktop: 1500px;

$rootLeftMargin: 30px;
$rootRightMargin: 40px;
$rootColorBg: #f8fafd;

$heightSign: 40vh;

$primaryPopupLeft: 25%;
$primaryPopupWidth: 50%;
$primaryPopupTop: 5%;
$primaryPopupHeight: 90%;

$secondaryPopupLeft: 30%;
$secondaryPopupWidth: 40%;
$secondaryPopupTop: 10%;
$secondaryPopupHeight: 80%;

$bgColor: #e5e5e5;
$fontColor: #3f3f3f;

$clickColorBg: black;
$clickColorFont: white;

$hoverColorBorder: red;

$navWidth: 10vw;
$navWidthColumn: 5vw;

$positionTopDesktop: 7vh;
$primaryPopupTopDesktop: 7vh;
$primaryPopupHeightDesktop: 86%;
$navWidthDesktop: 14vw;
$navWidthColumnDesktop: 7vw;

$positionTopLaptop: 7vh;
$primaryPopupTopLaptop: 7vh;
$primaryPopupHeightLaptop: 86%;
$navWidthLaptop: 14vw;
$navWidthColumnLaptop: 10vw;

$positionTopTablet: 7vh;
$primaryPopupTopTablet: 7vh;
$primaryPopupHeightTablet: 86%;
$navWidthColumnTablet: 20vw;

$positionTopMobile: 7vh;
$primaryPopupTopMobile: 7vh;
$primaryPopupHeightMobile: 86%;
$navWidthColumnMobile: 30vw;
