$mobile: 400px;
$tablet: 850px;
$laptop: 1200px;
$desktop: 1500px;

$rootLeftMargin: 30px;

$leftSign: 40%;
$topSign: 30%;
$heightSign: 40%;

$leftPopup: 25%;
$topPopup: 5%;
$widthPopup: 50%;
$heightPopup: 90%;

$leftPrimaryPopup: 25%;
$topPrimaryPopup: 5%;
$widthPrimaryPopup: 50%;
$heightPrimaryPopup: 90%;

$leftSecondaryPopup: 40%;
$topSecondaryPopup: 10%;
$widthSecondaryPopup: 20%;
$heightSecondaryPopup: 80%;

$bgColor: #e5e5e5;
$fontColor: #3f3f3f;
$clickBgColor: black;
$clickFontColor: white;
$navClickBgColor: #3f3f3f;
